{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ '/' | relative_url }}"><span>{{ site.title }}</span></a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.children %}
              <li class="masthead__menu-item dropdown">
                <a href="#" class="dropdown-toggle">{{ link.title }}</a>
                <ul class="dropdown-menu">
                  {% for child in link.children %}
                    {% assign is_external = child.url contains 'http' %}
                    <li>
                      <a href="{% if is_external %}{{ child.url }}{% else %}{{ child.url | relative_url }}{% endif %}">
                        {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% assign is_external = link.url contains 'http' %}
              <li class="masthead__menu-item">
                <a href="{% if is_external %}{{ link.url }}{% else %}{{ link.url | relative_url }}{% endif %}">
                  <span>{{ link.title }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<!-- jQuery first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="{{ '/assets/js/dropdown.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/css/custom-masthead.css' | relative_url }}">